{% extends 'layout.twig' %}
{% set active_nav = 'index' %}
{% block parallax_container %}
<div class="parallax-container">
  <div class="parallax"><img src="/images/parallax/parallax1.jpg"></div>
</div>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <h1 class="center-align">{{title}}</h1>
    <p class="center-align">Welcome to {{title}}</p>
  </div>
  <div class="row">
    <form class="col s12" action="/" method="POST">
      <div class="row valign-wrapper">
        <div class="input-field col s12 m8 l4">
          <i class="material-icons prefix">location_searching</i>
          <input name="place" id="place" type="text" class="autocomplete">
          <label for="place">Place</label>
        </div>
        <div class="input-field col s12 m8 l4">
          <i class="material-icons prefix">whatshot</i>
          <input name="hairstyle" id="hairstyle" type="text" class="validate">
          <label for="hairstyle">Hairstyle</label>
        </div>
        <button class="btn waves-effect waves-light purple darken-2" type="submit">Search
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    {% if place %}
    <div class="row">
      <p>paramter:value from the search</p>
      <p>place:{{place}}</p>
      <p>hairstyle:{{hairstyle}}</p>
    </div>
    {% endif %}
    <div class="col s12 m6 pull-m3 push-m3">
      next steps: <br>
      -get from the server (search, items) <br>
      -search's result page <br>
      -see other's profile <br>
      -hash the entities name and values <br>
    </div>

    <div class="carousel">
      <a class="carousel-item"><img src="/images/gallery/46503888_1076937725818847_4623681539962568704_n.jpg"></a>
      <a class="carousel-item"><img src="/images/gallery/46506137_182816595993067_6385295799852466176_n.jpg"></a>
      <a class="carousel-item"><img src="/images/gallery/46708531_600184977107698_9109668910906474496_n.jpg"></a>
      <a class="carousel-item"><img src="/images/gallery/46764459_352531905538886_6666289525477605376_n.jpg"></a>
      <a class="carousel-item"><img src="/images/gallery/46874536_2218263921829321_5850163327405129728_n.jpg"></a>
    </div>

  </div>
  {% endblock %}