<!DOCTYPE html>
<html>

<head>
  <title>{{ app_title }}</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel='stylesheet' href='/stylesheets/style.css' />
  {% block style %} {% endblock %}
</head>

<body>
  {% block parallax_container %} {% endblock %}
  {% include 'navbar.twig' with active_nav %}
  {% block body %}{% endblock %}
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var sidenavs = M.Sidenav.init(document.querySelectorAll('.sidenav'));
      var modals = M.Modal.init(document.querySelectorAll('.modal'));
      var collapsibles = M.Collapsible.init(document.querySelectorAll('.collapsible'));
      var parallaxes = M.Parallax.init(document.querySelectorAll('.parallax'));
      var datepickers = M.Datepicker.init(document.querySelectorAll('.datepicker'));
      var elems = document.querySelectorAll('.materialboxed');
      var materialboxed = M.Materialbox.init(document.querySelectorAll('.materialboxed'));
      var dropdowns = M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'));
      var elems = document.querySelectorAll('.carousel');
      var carousels = M.Carousel.init(document.querySelectorAll('.carousel'),
        {
          indicators: true
        });
    });
  </script>
  <script type="text/javascript">
    $("#pass1").on("focusout", function (e) {
      if ($(this).val() != $("#pass2").val()) {
          $("#pass2").removeClass("valid").addClass("invalid");
      } else {
          $("#pass2").removeClass("invalid").addClass("valid");
      }
  });
  
  $("#pass2").on("keyup", function (e) {
      if ($("#pass1").val() != $(this).val()) {
          $(this).removeClass("valid").addClass("invalid");
      } else {
          $(this).removeClass("invalid").addClass("valid");
      }
  });
  </script>
  {% block script %} {% endblock %}
</body>

</html>