<div class="row">
  <nav>
    <div class="nav-wrapper teal accent-4">
      <a href="/" class="brand-logo">Beautizy</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li {% if active_nav=='index' %} class="active" {% endif %}><a href="/">Search</a></li>
        <li {% if active_nav=='about' %} class="active" {% endif %}><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Out</a></li>
        <li {% if active_nav=='profile' %} class="active" {% endif %}><a href={{'/profiles/Username/profile'}}>PROFILE</a></li>
      </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
      <li {% if active_nav=='index' %} class="active" {% endif %}><a href="#">SEARCH</a></li>
      <li {% if active_nav=='about' %} class="active" {% endif %}><a href="/">ABOUT</a></li>
      <li><a href="#">SIGN IN</a></li>
      <li><a href="#">SIGN OUT</a></li>
      <li {% if active_nav=='profile' %} class="active" {% endif %}><a href={{'/profiles/Username/profile'}}>PROFILE</a></li>
    </ul>
  </nav>
</div>