<div class="col m1 l1"></div>
<div class="col m5 l3">
    <div class="row">
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://i0.wp.com/therighthairstyles.com/wp-content/uploads/2015/02/1-chunky-flat-twist-bun.jpg?resize=240%2C340&ssl=1">
            </div>
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4">Hairstyle Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-ti    tle grey-text text-darken-4">Title of the Style<i class="material-icons right">close</i></span>
                <p>this serves to tell more about that hairstyle. Maybe a litle history</p>
            </div>
        </div>
    </div>
</div>