{% extends 'layout.twig' %}
{% set active_nav = 'search' %}
{% block body %}
<div class="container">
    <div class="row">
        <form class="col s12" action="/search" method="POST">
            <div class="row valign-wrapper">
                <div class="input-field col s12 m8 l4">
                    <i class="material-icons prefix">location_searching</i>
                    <input name="place" id="place" type="text" class="autocomplete" required>
                    <label for="place">Place</label>
                </div>
                <div class="input-field col s12 m8 l4">
                    <i class="material-icons prefix">whatshot</i>
                    <input name="hairstyle" id="hairstyle" type="text" class="validate">
                    <label for="hairstyle">Hairstyle</label>
                </div>
                <button class="btn waves-effect waves-light purple darken-2" type="submit">Search
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    {% for row in results %}
    <div class="col m1 l1"></div>
    <div class="col s12 m5 l2">
        <div class="row">
            <div class="card sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src={{row.path}}>
                </div>
                <div class="card-action">
                    <span class="card-title activator grey-text text-darken-4">{{row.o_title}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Place an order</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{row.o_title}}<i class="material-icons right">close</i></span>
                    <p>{{row.o_description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    function fillPlaces() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('place'));
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }

        autocomplete.setOptions({
            types: ['(cities)'],
            componentRestrictions: {country: 'de'}
          });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
        });

    }
</script>
{% endblock %}